table{
    text-align: left;
}

h5{
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}
.form-check-input{
    margin-right: 0.5rem;
  }

  .patient{
    border-bottom-style:solid;
    border-color:rgba(0, 0, 0, 0.986);
    border-width:2px;
} 
.row{
    border-bottom: 2px solid black;
  }

#assignBtn{
  border-radius:25px;
  background-color:rgb(60, 164, 216);
  padding: 15px;
  border:0px;
  margin:2px;
  box-shadow: none;
}

#assignBtn:hover,
#assignBtn:focus{
    background-color:rgb(43, 119, 156);
}

.green-text {
  color: green;
  font-weight: bold;
}