table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #0f0e0e;
    text-align: left;
    padding: 8px;
  }
  
  tr{
    background-color: #f9f3f3;
  }

ts{
   background-color: #f9f3f3;
   border: 1px solid #0f0e0e;
   text-align: middle;
   padding: 2px;  
       
}

table2{
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width:50%;
}
  