span {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
   
    border-radius: 50%;
    color: #fff;
  }


.patient-link{
    background-color:rgb(36, 121, 200);
    border-color:rgb(36, 121, 200);
    border-radius:20px;
    box-shadow: none;
}
.infant {
  background-color: red;
}
.child {
  background-color: orange;
}
.adolecent {
  background-color: green;
}

.adult {
  background-color: blue;
}

.elderly {
  background-color:purple;
}

.assistance {
  border: 2px solid black;
}

