
.corner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}
.container-fixed {
  overflow: hidden; 
}

.green {
  background-color: #32CD32;
}
.yellow {
  background-color: #FFFF00;
}
.red {
  background-color: #FF0000;
}
.corner.top-left{
  height: 200px;
}
.corner.top-right{
  width:200px;
}

.corner.bottom-left{
  height: 200px;
}


