span {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #000000;
  }


.patient-link{
    background-color:rgb(36, 121, 200);
    border-color:rgb(36, 121, 200);
    border-radius:20px;
    box-shadow: none;
}
.infant {
  background-color: red;
}
.child {
  background-color: rgb(255, 187, 0);
}
.adolescent {
  background-color: rgb(18, 221, 18);
}

.adult {
  background-color: rgb(6, 151, 235);
}

.elderly {
  background-color:rgb(230, 53, 230);
}

.assistance {
  border: solid rgb(0, 0, 0);
  
}

.reception{
  background-color:red;
}




.device-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.device-legend-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.device-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.device-label {
  font-size: 14px;
  font-weight: bold;
}

.device-color-SA{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #000000;
    margin-right:5px;
}

.legend-container {
  background-color: white !important;
  padding: 10px;
  margin-top: 10px;
  width: 45%;
}

.modal-header {
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}

