body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: lightgrey;
}

.patientRow:hover {
  background-color: #aaa;
  cursor: pointer;
  
div{
  text-align: center;
  padding: 50px;
}

button{
  font-size: larger;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}